
<html>
<head>
  <title>Callback</title>
  <%include partials/header.ejs %>
</head>

<body>
<p>Please copy and paste this url and enter it into the Tableau Web Data Connector!</p>

  <p>
    <%= dataEndpoint %>
  </p>
</body>
</html>