
<html>
<head>
  <title>Callback</title>
  <%include partials/header.ejs %>
</head>

<body>

<h2><b>If you have already copied and pasted the link, please ignore below.</b></h2>

<p>Please copy and paste this url and enter it into the Tableau Web Data Connector!</p>

  <p>
    <%= dataEndpoint %>
  </p>
</body>
</html>